*/node_modules
*/.git
REZ-Intelligence/
REZ-Media/
REZ-Merchant/
StayOwn-Hospitality/
CorpPerks-Platform
packages/*/node_modules
*.log
.env
node_modules/
.env
packages/*/
services/*/
node_modules/
packages/
services/
REZ-Intelligence/
REZ-Media/
REZ-Merchant/
REZ-Consumer/
StayOwn-Hospitality/
CorpPerks/
CorpPerks-Platform/
node_modules/
REZ-Intelligence/
REZ-Media/
REZ-Merchant/
REZ-Consumer/
StayOwn-Hospitality/
CorpPerks/
CorpPerks-Platform/
REZ-*//.git
CorpPerks//.git
StayOwn*//.git
packages//.git
REZ-Intelligence//.git
REZ-Media//.git
REZ-Merchant//.git
REZ-Consumer//.git
StayOwn*//.git
CorpPerks//.git
